<footer class="footer">
    <div class="container-fluid px-lg-5">
      <div class="row">
        <div class="col-md-3">
          <h2 class="title-footer foot"><span><img src="images/logo.png" width="45px" style="margin-bottom:6px"> </span> Dagoutsourcing</h2>
          <center><a href="https://web.facebook.com/outsourcingmada" target="_blank" rel="noopener noreferrer" class="foot-icon"><img width="50px" src="images/facebook-white-icon.png" alt=""></a></center>
        </div>
  
        <div class="col-md-9 py-5">
          <div class="row">
  
            <div class="col-md-12">
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                      <h2 class="footer-heading text-center">Coordonnées</h2>
                      <ul class="list-unstyled">
                        <li><a href="#" class="py-1 d-block foot text-center">Immeuble DAGO BP 4216</a></li>
                        <li><a href="tel:+261326046372" class="py-1 foot d-block text-center">+261 32 60 463 72</a>
                        </li>
                        <li><a href="#" class="py-1 d-block foot text-center">site@dagoutsourcing.mg</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center">Contactez-nous</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                      <h2 class="footer-heading text-center">A propos</h2>
                      <ul class="list-unstyled">
                        <li><a href="#" class="py-1 d-block foot text-center">Mentions légales</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center">Politique de confidentialité</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center text-center">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="#" class="py-1 d-block foot text-center">Policies</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                      <h2 class="footer-heading text-center">Resources</h2>
                      <ul class="list-unstyled">
                        <li><a href="#" class="py-1 d-block foot text-center">Security</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center">Global</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center">Charts</a></li>
                        <li><a href="#" class="py-1 d-block foot text-center">Privacy</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </footer>