{% extends 'base.html.twig' %}


{% block body %}


    {% include 'site/nav.html.twig' %}
  
    <!-- END nav -->
  
    <div class="tab-content">
  
      <div class="tab-pane active" id="accueil">
        <div class="hero-wrap" style="margin-top: 50px;">
            <div class="home-slider owl-carousel">
        
                <div class="slider-item" style="background-image:url('images1/bg_1.jpg');">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center justify-content-center">
                            <div class="col-md-8 ftco-animate">
                                <div class="text w-100 text-center">
                                    <h1 class="mb-4">Nous sommes </br> l'extension de votre équipe</h1>
                                    <h2 class="text-white" style="text-transform:lowercase;">Prospections Téléphoniques, SAV, Opération de saisie, Secrétariat Virtuel, Développement de site web
                                        , Rédaction Web & SEO, Multimédia (Graphiste / vidéaste)
                                    </h2>
                                    <p><a href="#" class="btn btn-white">Nous contacter</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="slider-item" style="background-image:url('images1/sowftware-developer.jpg');">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center justify-content-center">
                            <div class="col-md-8 ftco-animate">
                                <div class="text w-100 text-center">
                                    <h1 class="mb-4">Nous sommes </br> l'extension de votre équipe</h1>
                                    <h2 class="text-white" style="text-transform:lowercase;">Prospections Téléphoniques, SAV, Opération de saisie, Secrétariat Virtuel, Développement de site web
                                        , Rédaction Web & SEO, Multimédia (Graphiste / vidéaste)
                                    </h2>
                                    <p><a href="#" class="btn btn-white">Nous contacter</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        
                <div class="slider-item" style="background-image:url('images/saisie1.png');">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center justify-content-center">
                            <div class="col-md-8 ftco-animate">
                                <div class="text w-100 text-center">
                                    <h1 class="mb-4">Nous sommes </br> l'extension de votre équipe</h1>
                                    <h2 class="text-white" style="text-transform:lowercase;">Prospections Téléphoniques, SAV, Opération de saisie, Secrétariat Virtuel, Développement de site web
                                        , Rédaction Web & SEO, Multimédia (Graphiste / vidéaste)
                                    </h2>
                                    <p><a href="#" class="btn btn-white">Nous contacter</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        
        
        </div>
        
        
        <section class="ftco-section ftco-no-pt bg-light">
        </section>
        
        
        <section class="ftco-section bg-light ftco-no-pt">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block">
                            <div class="icon d-flex mr-2">
                                <span class="flaticon-accounting-1"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Accounting</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block">
                            <div class="icon d-flex mr-2">
                                <span class="flaticon-tax"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Tax, Compliance &amp; Payroll</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block">
                            <div class="icon d-flex mr-2">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Financial Services</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block">
                            <div class="icon d-flex mr-2">
                                <span class="flaticon-budget"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Growth &amp; Funding Access</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center pb-5 mb-3">
                    <div class="col-md-7 heading-section text-center ftco-animate">
                        <span class="subheading">Blog &amp; Services </span>
                        <h2>Nos meilleurs Services</h2>
                    </div>
                </div>
        
                <center>
                    <div class="container-2 row d-flex">
        
        
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images/appel4.png');">
                                </a>
                                <div class="text p-4">
                                    <h3 class="heading text-in text-center">Relations Clients (service en appel, mailing, tchat ...)</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images/devINFO.jpg');">
                                </a>
                                <div class="text p-4">
                                    <h3 class="heading"><a href="#">Développement d'application et site web</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images/redacteur-web2.jpg');">
                                </a>
                                <div class="text p-4">
                                    <h3 class="heading"><a href="#">différentes offres et services en Rédaction web / SEO</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images/graphisme4.png');">
                                </a>
        
                                <div class="text p-4">
                                    <h3 class="heading"><a href="#">Tout travail en Multimédia (graphiste, vidéaste ...) </a>
                                    </h3>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images/op-saisie.png');">
                                </a>
                                <div class="text p-4">
                                    <h3 class="heading"><a href="#">Tout travail en Opération de saisie (acte d'Etat civil, ...)</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch">
                                <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                                </a>
                                <div class="text p-4">
                                    <h3 class="heading"><a href="#">Autres offres très intéressant (gestion de boutique en ligne ...)</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
        
            </div>
        </section>
        
        
        
        
        <div class="py-0">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <div class="img-bg" style="background-image: url('images/big_img_1.jpg')"></div>
                    <div class="contents">
                        <span class="caption" style="color:black;font-weight:bold;">LES RAISONS POUR CHOISIR DAGOUTSOURCING</span>
                        <h2 style="font-size: 15px;font-weight:bold;color:#c00436;">Nous sommes DAGOUTSOURCING</h2>
                        <p class="mb-3" style="color:black;">Société de Promotion des nouvelles Technonologies, est une société à responsabilité limitée (sarl) créée en 2016
                            dont les activités principales sont: prospections Téléphoniques, Développement de site et application Web, Rédaction Web et SEO, Secrétariat Virtuel, Multimédia, Opération de saisie.
                            </br></br>Les employés de DAGOUTSOURCING possèdent une expertise dans chacun de leurs domaines.
                        </p>
        
                        <div class="post-meta">
                            <span class="d-block">Une équipe de pro éxpérimentés, Nous offrons des services très agréables à un prix unique et abordable
        
                                <a href="#"></a></span>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2>Politics</h2>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_1.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_2.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_3.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2>Business</h2>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_1.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_2.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex">
                            <div class="thumbnail" style="background-image: url('images/img_v_3.jpg')"></div>
                            <div class="contents">
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus
                                    praesentium neque, voluptatum quam quibusdam.</p>
                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <section class="ftco-section testimony-section bg-light">
            <div class="overlay bg-info"></div>
            <div class="container">
                <div class="row justify-content-center pb-5 mb-3">
                    <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
                        <span class="subheading"></span>
                        <h2>Ils nous font confiance</h2>
                    </div>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
        
                            <div class="item">
                                <div class="testimony-wrap py-4">
        
                                    <div class="text">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(images1/person_1.jpg)"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
        
                                    <div class="text">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(images1/person_2.jpg)"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
        
                                    <div class="text">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(images1/person_3.jpg)"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
        
                                    <div class="text">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(images1/person_1.jpg)"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4">
        
                                    <div class="text">
                                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img" style="background-image: url(images1/person_2.jpg)"></div>
                                            <div class="pl-3">
                                                <p class="name">Roger Scott</p>
                                                <span class="position">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
  
      <div class="tab-pane" id="contact">
        <!-- END nav -->
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images1/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay" style="background-color: gray;"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 pb-5">
                <h1 class="mb-0 bread">Nous contacter</h1>
            </div>
            </div>
        </div>
        </section>

        <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4"></h3>
                        <div id="form-message-warning" class="mb-4"></div>
                        <div id="form-message-success" class="mb-4">
                        Votre message a été envoyé, Merci!
                        </div>
                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group">
                                <label class="label" for="name">Nom</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label class="label" for="email">Adresse Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="subject">Sujet</label>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="#">Message</label>
                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value=" Envoyer " class="btn btn-info">
                                <div class="submitting"></div>
                            </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                    <div class="info-wrap bg-secondary w-100 p-md-5 p-4">
                        <h5 class="text-white">Dagoutsourcing vous offre le meilleur</h3>

                        <div class=" dbox w-100 d-flex align-items-center start">
                            <div class="text pl-3">
                            <p><span class="flaticon-call"></span> Phone: <a href="tel://1234567920">+ 261 32 60 463 72</a></p>
                            </div>
                        </div>

                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="text pl-3" style="width: 100%;">
                            <p><span class="flaticon-email"></span> Email: <a href="mailto:info@yoursite.com">site@dagoutsouring.com</a></p>
                            </div>
                        </div>

                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="text pl-3">
                            <p>
                                <a href="https://web.facebook.com/outsourcingmada" target="_blank" rel="noopener noreferrer" class="foot-icon"><img width="50px" src="images/facebook-white-icon.png" alt=""></a> <a href="https://web.facebook.com/outsourcingmada" target="_blank" rel="noopener noreferrer" class="foot-icon"> facebook</a>
                            </p>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
      </div>
  
      <div class="tab-pane" id="dev">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images1/sowftware-developer.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay" style="background-color: gray;"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 pb-5">
                  <h1 class="mb-0 bread">Développement Web</h1>
                </div>
              </div>
            </div>
          </section>
          
          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
          
                  <h2>Nos offres de Dev</h2>
                </div>
              </div>
          
              <center>
                <div class="container-2 row d-flex">
          
          
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="dev1.php" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
          
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Création de portfolio et Site E-commerce</a>
                        </h3>
                      </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="dev2.php" class="block-20 rounded" style="background-image: url('images/devINFO.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Conception / maintenance d'applications web</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="dev3.php" class="block-20 rounded" style="background-image: url('images/dev2.png');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Conception et intégration des maquettes web</a>
                        </h3>
                      </div>
                    </div>
                  </div>
          
          
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/dev3.png');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Conception d'applications et sites web sur mesure</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/dev4.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Conception d'application mobile et logiciel</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Simple maintenance et correction des beug de votre site </a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
          
          
            </div>
          </section>
      </div>
  
      <div class="tab-pane" id="multimedia">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/multimedia2.png');" data-stellar-background-ratio="0.5">
            <div class="overlay" style="background-color: gray;"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 pb-5">
                  <h1 class="mb-0 bread">Multimédia</h1>
                </div>
              </div>
            </div>
          </section>
      
          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                  <h2>Nos offre en Multimédia</h2>
                </div>
              </div>
      
              <center>
                <div class="container-2 row d-flex">
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/graphisme4.png');">
                      </a>
      
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">offre professionnel en Graphisme et desgin</a>
                        </h3>
                      </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a>
                        </h3>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
      
            </div>
          </section>
      </div>
  
      <div class="tab-pane" id="redact">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/redaction-web.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay" style="background-color: gray;"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 pb-5">
                  <h1 class="mb-0 bread">Redaction Web et SEO</h1>
                </div>
              </div>
            </div>
          </section>
      
          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
      
                  <h2>Nos offres en rédaction web</h2>
                </div>
              </div>
      
              <center>
                <div class="container-2 row d-flex">
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
      
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">ofrre de rédaction premier niveau</a>
                        </h3>
                      </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/redacteur-web2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">offre de rédaction avancé</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
      
            </div>
          </section>
      </div>
  
      <div class="tab-pane" id="rl-client">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/rlclient.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay" style="background-color: gray;"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 pb-5">
                  <h1 class="mb-0 bread">Relation client</h1>
                </div>
              </div>
            </div>
          </section>
      
          <section class="ftco-section bg-rl-client">
            <div class="container">
              <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
      
                  <h2 class="in">On vous propose les offres suivants</h2>
                </div>
              </div>
      
              <center>
                <div class="container-2 row d-flex">
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/appel1.png');">
                      </a>
      
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Appels Entrants</h3>
                      </div>
                      </a>
                    </div>
                  </div>
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/appel4.png');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Appels Sortants</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/appel3.png');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Tchat & Mailing</h3>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/appel6.png');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Traitement des Leads</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/gestion-site.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Gestions de site</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images/postecall.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading text-in text-center">Assistante virtuelle</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
      
      
            </div>
          </section>
      </div>
  
      <div class="tab-pane" id="saisie">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/saisie1.png');" data-stellar-background-ratio="0.5">
            <div class="overlay" style="background-color: gray;"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 pb-5">
                  <h1 class="mb-0 bread">Opération de Saisie</h1>
                </div>
              </div>
            </div>
          </section>
      
          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                  <span class="subheading">News &amp; Blog</span>
                  <h2>Latest news from our blog</h2>
                </div>
              </div>
      
              <center>
                <div class="container-2 row d-flex">
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
      
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_1.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_2.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                      <a href="#" class="block-20 rounded" style="background-image: url('images1/image_3.jpg');">
                      </a>
                      <div class="text p-4">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </center>
      
            </div>
          </section>
      </div>
  
    </div>


    {% include 'site/footer.html.twig' %}

{% endblock %}
