<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body">
      
            <nav class="site-navigation  text-center" role="navigation">

              <ul class="site-menu site-nav-wrap main-menu nav nav-pills">

                <li role="presentation">
                  <a href="#accueil" data-toggle="tab" class="nav-link text-left">Accueil</a>
                </li>

                <li role="presentation">
                  <a href="#rl-client" data-toggle="tab" class="nav-link text-left">Relation Client</a>
                </li>

                <li role="presentation">
                  <a href="#dev" data-toggle="tab" class="nav-link text-left">Développement Web</a>
                </li>

                <li role="presentation">
                  <a href="#redact" data-toggle="tab" class="nav-link text-left">Rédaction Web et SEO</a>
                </li>

                <li role="presentation">
                  <a href="#multimedia" data-toggle="tab" class="nav-link text-left">Multimédia</a>
                </li>

                <li role="presentation">
                  <a href="#saisie" data-toggle="tab" class="nav-link text-left">Opération de Saisie</a>
                </li>

                <li role="presentation">
                  <a href="#contact" data-toggle="tab" class="nav-link  text-left">Contact</a>
                </li>

              </ul>

            </nav>


    </div>
  </div>

  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-lg-12">
          <center><a href="index.php" class="site-logo">
              <span><img src="images/logo.png" width="45px" style="margin-bottom:6px"> </span>Dagoutsourcing
            </a></center>
        </div>
        <div class="col-2 d-lg-none text-right">
          <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
        </div>
      </div>
    </div>



    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="  align-items-center">
          <div class="mr-auto">

            <nav class="site-navigation  text-center" role="navigation">

              <ul class="site-menu main-menu nav nav-pills mr-auto d-none pl-0 d-lg-block">

                <li class="active" role="presentation">
                  <a href="#accueil" data-toggle="tab" class="nav-link text-left">Accueil</a>
                </li>

                <li role="presentation">
                  <a href="#rl-client" data-toggle="tab" class="nav-link text-left">Relation Client</a>
                </li>

                <li role="presentation">
                  <a href="#dev" data-toggle="tab" class="nav-link text-left">Développement Web</a>
                </li>

                <li role="presentation">
                  <a href="#redact" data-toggle="tab" class="nav-link text-left">Rédaction Web et SEO</a>
                </li>

                <li role="presentation">
                  <a href="#multimedia" data-toggle="tab" class="nav-link text-left">Multimédia</a>
                </li>

                <li role="presentation">
                  <a href="#saisie" data-toggle="tab" class="nav-link text-left">Opération de Saisie</a>
                </li>

                <li role="presentation">
                  <a href="#contact" data-toggle="tab" class="nav-link  text-left">Contact</a>
                </li>

              </ul>

            </nav>

          </div>
        </div>
      </div>

    </div>

  </div>