

<footer class="site-footer">
    <div class="text-center">
      <p>
        &copy; Copyrights by <strong>ManCodeur</strong>. All Rights Reserved
      </p>
     
      <a href="#" class="go-top  text-white">
        <i class="fa fa-angle-up"> </i>
        </a>
    </div>
  </footer>