<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dagoutsourcing{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">
        <link href="{{ asset('admin/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

        {% include 'css.html.twig' %}

        {% block stylesheets %}
        
        {% endblock %}

    </head>
    
    <body data="scroll" data-target=".site-navbar-target" data-offset="300">

        
        {% include 'site/nav.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'site/footer.html.twig' %}


        {% include 'site/js.html.twig' %}   
        
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
